body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}


/*==========================================
*				Butão Básico
*http://designshack.net/articles/css/css-button-tutorial-how-to-code-buttons-in-5-simple-steps/
===========================================*/
.button {
	/*Step 2: Basic Button Styles*/
	display: block; /*The most important thing I did here was to set “display” to “block”. This will allow us to turn our text link into a larger box with a defined width and height.*/
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
     
    /*Step 3: Text Styles*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
	/*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #34696f, #2f5f63);
	background: -moz-linear-gradient(top, #34696f, #2f5f63);
	background: -ms-linear-gradient(top, #34696f, #2f5f63);
	background: -o-linear-gradient(top, #34696f, #2f5f63);
	background: linear-gradient(top, #34696f, #2f5f63);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	/* http://border-radius.com/ */
	-webkit-border-top-left-radius: 26px;
	-moz-border-top-left-radius: 26px;
	-ms-border-top-left-radius: 26px;
	-o-border-top-left-radius: 26px;
	border-top-left-radius: 26px;
	-webkit-border-bottom-right-radius: 26px;
	-moz-border-bottom-right-radius: 26px;
	-ms-border-bottom-right-radius: 26px;
	-o-border-bottom-right-radius: 26px;
	border-bottom-right-radius: 26px;
	-webkit-box-shadow: 0 8px 0 #1b383b;
	-moz-box-shadow: 0 8px 0 #1b383b;
	-ms-box-shadow: 0 8px 0 #1b383b;
	-o-box-shadow: 0 8px 0 #1b383b;
	box-shadow: 0 8px 0 #1b383b;
	/*For the box shadow, a gave it a vertical offset but no horizontal one and also left the feathering at 0*/
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
	
	
}

/*Step 5: Hover Styles*/
a.button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}
/*Step 6: Dar vida ao clicar*/
a.button:active {
	-webkit-box-shadow: 0 2px 0 #1b383b;
	-moz-box-shadow: 0 2px 0 #1b383b;
	-ms-box-shadow: 0 2px 0 #1b383b;
	-o-box-shadow: 0 2px 0 #1b383b;
	box-shadow: 0 2px 0 #1b383b;
	background: -webkit-linear-gradient(top, #990000, #E60000);
	background: -moz-linear-gradient(top, #990000, #E60000);
	background: -ms-linear-gradient(top, #990000, #E60000);
	background: -o-linear-gradient(top, #990000, #E60000);
	background: linear-gradient(top, #990000, #E60000);
}
/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
}
/*==========================================*/


/*==========================================
*				  DropBox
===========================================*/
.dropbox{
	
	/*Caixa*/
	display: block;
	height: 40px;
	width: 350px;
	background: #4390BA;
	border: 2px solid rgba(33, 68, 72, 0.59);
	
	/*Texto*/
	color: rgba(255, 255, 255, 0.9);
	text-align: left;
	font: bold 2.6em/40px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-left: 20px;
	
	/*Efeitos*/
	-webkit-border-top-left-radius: 26px;
	-moz-border-top-left-radius: 26px;
	-ms-border-top-left-radius: 26px;
	-o-border-top-left-radius: 26px;
	border-top-left-radius: 26px;
	-webkit-border-top-right-radius: 26px;
	-moz-border-top-right-radius: 26px;
	-ms-border-top-right-radius: 26px;
	-o-border-top-right-radius: 26px;
	border-top-right-radius: 26px;

}

a.dropbox{
	text-decoration: none;
}
